@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');

main{
    width: 100%;    
    max-width: 900px;
}

.foto-nome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 50px;
}

.foto-nome img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.nome-lobo{
    font-size: 3em;
    margin-bottom: 10px;
}

.nome-id{
    padding-left: 70px;
}

.nome-idade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: visible;
    margin-top: 40px;
}

.nomein{
    width: 500px;
    max-width: 100%;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    height: 25px;
}

.adotar{
    background-color: #DEB959;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 20px 50px 20px 50px;
}

.linha{
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    height: 25px;
    width: 100%;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;

}

h2{
    margin-bottom: 5px;
}
